html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#app{
    width: 1536px;
    height: 729.6px;
    transform-origin: top left;
}
/*above is wrapper*/
*{
    font-weight: bold !important;
    font-family: sans-serif;
}
body, html{
    height: 729.6px;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
/*header(top bar)*/
.custom-header{
    background-size: cover;
    height: 43.78px;
}
/*nav(logo line)*/
.custom-nav{
    height: 87.55px;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}
/*main*/
.custom-main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: calc(729.6px - 43.78px - 87.55px - 43.78px);
}
/*footer*/
.custom-footer{
    flex-shrink: 0;
    height: 43.78px;
}